
.nav {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.link_list {
    list-style: none;
}

.link { 
    display: inline-block;
    margin: 0 5px;
}

.log_out {
    position: absolute;
    right: 0;
    top: -50%;
}