.container {
    display: flex;
    padding-top: 100px;
}

.vacancies_container {
    padding: 0 60px;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.no_vacancies {
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translate(-50%);
}