

.button {
    border-radius: 9px;
    height: 40px;
    border: none;
    width: 60%;
    font-weight: 600;
}

.button:active {
    transform: scale(0.98);
}

.btn {
    display: flex;
    justify-content: center;
}